.marquee {
  overflow: hidden;
  width: 100%;
}

.marqueeContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  animation: marquee 20s ease-in-out infinite alternate;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
